/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    font: 16px 'Open Sans';
    color: #2C3E50;
    background: #F1F1F1;
}

a {
    text-decoration: none;
    color: #3498DB;
}

.text {
    width: 100%;
}
.text p {
    width: 75%;
    margin: auto;
    padding: 10px 0px;
    text-align: center;
}

/**
 * All of the CSS for overriding bootstrap styles only
 */

.container {
    width: 100%;
}

.container .row {
    margin-bottom: 30px;
}

.bootstrap-wrapper {
@import (less) url( '../../vendor/bootstrap/css/bootstrap.min.css' );
    background: white;
}

/**
 * All of the CSS for your network stats visualization page only
 */
#vis_privacy {
    /*float: left;*/
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#vis_theme {
    /*float: left;*/
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#vis_db_version {
    /*float: left;*/
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#vis_registrations {
    /*float: left;*/
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

