/**
 * All of the CSS for your network stats visualization page only
 * included in this file.
 */

text {
    font: 12px sans-serif;
}

#vis_privacy {
    /*float: left;*/
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#vis_theme {
    /*float: left;*/
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#vis_db_version {
    /*float: left;*/
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#vis_sites_registered {
    /*float: left;*/
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.bootstrap-wrapper {
    @import (less) url( '../../vendor/bootstrap/css/bootstrap.min.css' );
}